/* BEGIN THE FONT SIZE CLASSES */
body {
    font-size: 90%;
}
a, button, code, div, em, font, input, li, ol, p, pre, select, strong, table, td, textarea, ul {
    font-size: 1.0em;
}
/* END THE FONT SIZE CLASSES */


/* BEGIN THE STANDARD CLASSES */
a, button, code, div, em, font, input, li, ol, p, pre, select, strong, table, td, textarea, ul {
    color: #fff;
    font-family: "courier new", monospace
}

body, input, textarea {
    background: #000;
}
input, textarea {
    border: solid 1px #222;
}

h1 {
    margin: 1px 0px 6px 0px;
}
h2 {
    margin: 1px 0px 1px 0px;
}
h3 {
    margin: 1px 0px 5px 0px;
}
/* END THE STANDARD CLASSES */
