.title {
    background: url("images/logo.png") no-repeat;
    height: 102px;
    width: 500px;
}

#main_win {
    padding: 20px;
}


.form {
    border: 1px solid #666;
    padding: 6px;
}

    .form table, .form .field input {
        width: 100%;
    }

    .form .button {
        background: #222;
        border: solid 1px #444;
        padding: 3px;
    }

    .form tfoot td {
        padding-top: 4px;
        text-align: right;
    }

.bound {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
